@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{ 
    background-color: black;
    color: white;
}
li, a,button{
    font-family: 'Finlandica', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: white;
    text-decoration: none;
}
h1{
    font-family: 'Finlandica', sans-serif;
    text-shadow: 2px 1px 4px #0088a9;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px ;
    background-color: #24252A;
    
}

.nav__link li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    font-size: 18px;
    justify-content: space-around;
}
.nav__link li a:hover{
    color: #0088a9;
}
button{
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,136,169,8);
}
.contenedor{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#form{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form label{
    margin: 50px;
    font-size: large;
    
}

